name: CSS Lint

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  stylelint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Stylelint
        run: npm install -g stylelint stylelint-config-standard

      - name: Run CSS lint
        run: stylelint "public/**/*.css"
